@{
    Layout = "~/Views/AdminPanal/_AdminLayout.cshtml";  // Path to your AdminLayout.cshtml
}
<div class="bg-white p-4 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">token detils</h1>
    <p>Content related to managing clients goes here.</p>
  
</div>
