body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
}

.hero {
    display: flex;
    background-color: #32CD32;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

    .hero img {
        width: 50%;
        border-radius: 10px;
    }

.features {
    text-align: center;
    padding: 20px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
}
